[Desktop Entry]
Name=Plasma Deck
X-KDE-PluginInfo-Name=PlasmaDeck
X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Email=varlesh@gmail.com
